h3{text:black;background-color:pink;font-size:25px}
.big{background-color: green;color:yellow;}
#win{background-color: brown;color:pink;}
h1{background-color: blueviolet;text-align: center;text:black; font-size:70px}